a, h1, h2, h3, h4, h5, h6, label, p, span {
    color:lavender;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: rgb(3, 3, 56);
}

.btn {
    background-color: DodgerBlue;
    border: none; 
    color: white;
    padding: 12px 16px;
    font-size: 36px;
    cursor: pointer;
    margin-bottom: 15%;
    border-radius: 50%;
  }
  
.btn:hover {
background-color: RoyalBlue;
}

.card {
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 16px 0 rgba(230, 230, 250, 0.4);
    border-left: 8px solid turquoise;
    transition: 0.3s;
    padding: 5% 10%;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(230, 230, 250, 0.4);
}

.center-item {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }

comment {
    color: lightgray;
}

.container {
    margin: 5% 10%;
}

discrete{
    color: lightslategrey;
}

h1.center {
    text-align: center;
}

hyperlink:hover {
    color: turquoise;
}

.indent {
    margin-left: 20px;
}

number {
    color: fuchsia;
}

operator {
    color: gold;
}

reserved {
    color: darkorange;
}

string {
    color: chartreuse;
}

syntax {
    color: lavender;
    font-family: "Consolas";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    a, h2, h3, h4, h5, h6, label, p, span {
        font-size: 75%;
    }
    h1 {
        font-size: 95%;
    }
    .container{
        margin: 5% 1%;
    }
    syntax{
        font-size: 30%;    
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        margin: 5% 2%;
    }
    syntax{
        font-size: 55%;    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    syntax{
        font-size: 75%;    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    syntax{
        font-size: 90%;    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    syntax{
        font-size: 100%;    
    }
}